/* General ////////////////////////////////////////////////////////////////////////////////////////////// */

html {
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(#ffffff, #f5f5f5);
}

/* Grid anlegen mit 3 fr (pro Schuh eine) oder repeat(auto-fill) moinmax() )

html {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
}

/*

/* asics ////////////////////////////////////////////////////////////////////////////////////////////// */

.asics {
  border: 2px solid red;
  width: 23rem;
  height: 50rem;
  border-radius: 3rem;
}

.asics-img {
  width: 23.125rem;
  height: 13.75rem;
  background-color: rgb(47, 17, 135);
  background-image: url(asics.jpg);
  background-size: cover;
  background-clip: border-box;
}

.asics-choose {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "money   money         money     money"
    "size    size-nr       quantity  quantity-nr"
    "colour   choose-color  .          .     ";
}

.grid-items {
  border: 1px solid red;
}

.grid-item-1 {
  grid-area: money;
}

grid-item-2 {
  grid-area: size;
}

grid-item-3 {
  grid-area: size-nr;
}

grid-item-4 {
  grid-area: quantity;
}

grid-item-5 {
  grid-area: quantity-nr;
}

grid-item-6 {
  grid-area: colour;
}

grid-item-7 {
  grid-area: choose-color;
}
